
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Custom
@import 'about';
@import 'books';
@import 'common';
@import 'footer';
@import 'nav';
@import 'notfound';
@import 'welcome';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//
// Everywhere
//
.app_container
{
  display: flex;
  min-height: 100vh;
  padding-top: 55px;
  position: relative;
  width: 100%;
}
.screen_container
{
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
}
.now_img_wrapper
{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
//  background-color: red;
}
.now_img
{
  width: 100%;
  height: auto;
  transition: all 0.2s ease;
  opacity: 0.8;
  &:hover{
    opacity: 0.95;
  }
}
.adb_h4
{
  margin-top: 35px;
}
.ab_h4
{
  margin-top: 35px;
}