
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.full-height
{
  height: 100vh;
}

.flex-center
{
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref
{
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content
{
  text-align: center;
}

.footer_icons
{
    margin-top: 15px;
}
.github_icon
{
    color: white;
    font-size: 16px;
}
.title
{
  font-size: 84px;
  @media screen and (max-width: 768px) {
    font-size: 42px;
  }
}

.links > a
{
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md
{
  margin-bottom: 30px;
}
