
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Custom
@import 'books';
@import 'common';
@import 'footer';
@import 'nav';
@import 'notfound';
@import 'welcome';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//
// Everywhere
//
.app_container
{
  display: flex;
  min-height: 100vh;
  padding-top: 55px;
  position: relative;
  width: 100%;
}
.screen_container
{
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
}