//
// BOOKS
//
.books_backdrop
{
  position: fixed;
  width:100%;
  height: 100%;
  // background-image: radial-gradient(circle closest-side, black, black, black, rgba(122,122,122,.35), black, rgba(133,133,133, 0.45), black, black, black);
  opacity: 0.25;
  z-index: 0;
  margin-bottom: 35px;
}
.books_container
{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.books_page
{
  z-index: 1;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 55px;
  padding-top: 35px;
}
.books_divider
{
  border-color:rgba(255,255,255,.15);
  margin-bottom: 15px;
  margin-top: 15px;
}
.books_search
{
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
}

//
// BOOK
//
.book_wrapper
{
  display: flex;
  margin-bottom: 35px;
}
.book_cover
{
  width: 150px;
  height: auto;
  margin-right: 15px;
  opacity: 0.85;
  &:hover {
    opacity: 0.92;
  }
}
.book_info
{
  color: white;
  font-weight: 200;
}